* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

/* 헤더 */
.navHeader {
    width: 100vw;
    height: 10vh;
    position: sticky;
    background-color: aliceblue;
}

.imgLogo {
    width: 17rem;
    height: 4.25rem;
}
/* /헤더 */

/* 푸터 */
footer{
    height: 3.125rem;
    width: 100%;
    background-color: rgba(75, 75, 75, 0.089);
    color: rgb(0, 0, 0);
    z-index: 999999;
}

.footerContainer {
    padding-top: .8125rem;    
}

.footerFixed {
    position: fixed;
    bottom: 0;
}
/* /푸터 */

/* 페이징 */
.pageHidden {
    visibility: hidden;
}
/* /페이징 */

/* 글자 중앙정렬 */
.textCenter {
    text-align: center;
}
/* /글자 중앙정렬 */

/* 공지사항 페이지들 */
.noticeMsg {
    margin: 0 auto 5vh auto;
    width: 100vw;
    height: 12.5rem;
    line-height: 12.5rem;
    text-align: center;
    background-image: url('/img/banner.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    color: white;
    font-weight: 900;
    text-decoration: none;
}
.noticeMsg  a {
    text-decoration: none !important;
    color: white !important;
}
.noticeH1 {
    padding-top: 3.125rem;
    font-size: 3.125rem;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}
/* /공지사항 페이지들 */

/* 에러 메세지 */
.diverror {
    color: red;
}
/* /에러 메세지 */

.divContentsMain {
    min-height: 88vh;
}

/* 버튼 색깔 */
.btn-outline-info:hover {
    color: white;
}
/* /버튼 색깔 */