* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

/* 헤더 */
.navHeader {
    width: 100vw;
    height: 10vh;
    position: sticky;
    background-color: aliceblue;
}

.imgLogo {
    width: 272px;
    height: 68px;
}
/* /헤더 */

/* 푸터 */
footer{
    height: 50px;
    width: 100%;
    background-color: rgba(75, 75, 75, 0.089);
    color: rgb(0, 0, 0);
    z-index: 999999;
}

.footerContainer {
    padding-top: 13px;    
}

.footerFixed {
    position: fixed;
    bottom: 0;
}
/* /푸터 */

/* 페이징 */
.pageHidden {
    visibility: hidden;
}
/* /페이징 */

/* 글자 중앙정렬 */
.textCenter {
    text-align: center;
}
/* /글자 중앙정렬 */

/* 공지사항 페이지들 */
.noticeMsg {
    margin: 5vh auto 5vh 10vw;
    min-width: 700px;
}
/* /공지사항 페이지들 */