body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

/* 헤더 */
.baggageinfoHeader {
    margin: 0 auto 5vh auto;
    width: 100vw;
    height: 12.5rem;
    line-height: 12.5rem;
    text-align: center;
    background-image: url('/img/banner.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    color: white;
    font-weight: 900;
    text-decoration: none;
}
.noticeMsg  a {
    text-decoration: none !important;
    color: white !important;
}
.noticeH1 {
    padding-top: 3.125rem;
    font-size: 55px;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}
.noticeH5 {
    font-size: 30px;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}
/* /헤더 */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.h2 {
    font-size: 24px !important;
    color: #00256c;
    margin: 30px 0;
}
.h3{
    font-size: 1.6rem;
    font-weight: 700;
}
ul {
    margin-bottom: 20px;
}
.timeline li{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
.list li{
    font-size: 16px;
    position: relative;
}
.list.-disc > .list__item:before {
    content: "";
    position: absolute;
    top: 0.6rem;
    left: -20px;
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    background-color: #555;
}
.ttld .timeline .imgbox {
    width: 10%;
    min-width: 6.4rem;
    max-width: 6.4rem;
    width: 6.4rem;
    height: 6.4rem;
}
.ttld .timeline .imgbox img {
    width: 3rem;
    height: 3rem;
}
.ttld .timeline__box {
    width: 82%;
}

@media(min-width:370px) and (max-width:767px) {
    .noticeH1 {
        font-size: 30px;
    }

    .noticeH5 {
        font-size: 20px;
    }

    .h2 {
        font-size: 18px;
    }

    .h3 {
        font-size: 18px;
    }

    .ttld .timeline .imgbox img {
        width: 15px;
        height: 15px;
    }

    .ttld .timeline .imgbox {
        width: 10%;
        min-width: 3rem;
        max-width: 6.4rem;
        width: 3rem;
        height: 3rem;
    }
}

@media(min-width: 768px) and (max-width:1023px){

}

