@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
}
#searchbtn{
  width: 10%;
  height: 30%;
  color: #fff;
  background-color: rgb(125, 117, 109);
  border: 1px solid rgb(125, 117, 109);
}
/***********
*** Tabs ***
***********/
.tabs {
  width: 100%;
  height: auto;
}
.tabs .tabs-list{
  display: flex;
  margin: 0;
}
.tabs .tabs-list > li {
  width: 33.3333%;
  padding: 10px 5px;
  margin-right: 5px;
  text-align: center;
  border-radius: 15px 15px 0 0;
  color: #333333;
  background-color: #65728a;
}
.tabs .tabs-list li:hover {
  cursor: pointer;
}
.tabs .tabs-list li a {
  font-size: 22px;
  color: white;
}
/* Tab Content */
.tabs .tab {
  display: none;
  width: 100%;
  height: auto;
  padding: 0 32px;
  color: #333;
}
.tabs .tab h3 {
  border-bottom: 3px solid #524fa1;
  letter-spacing: 1px;
  font-weight: normal;
  padding: 5px;
  margin-bottom: 12px;
}
.tabs .tab p {
  line-height: 24px;
  letter-spacing: 1px;
}
.round-way,.one-way{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  border-radius: 0 15px 15px 15px;
  background-color: #efeff6;
  padding: 10px;
}
/* Tab on */
.on {
  display: block !important;
}
.tabs .tabs-list li.on {
  background-color: #efeff6 !important;
  color: black !important;
}
.on a {
  color: black !important;
  /* text-decoration: underline !important; */
}
.form-control{
  height: 55px;
  font-size: 16px;
  font-weight: 700;
  background-color: transparent;
  border: none;
}
.form-control:focus{
  background-color: transparent;
}
.selectBox2 * {
  box-sizing: border-box; 
}
.selectBox2 {
  position: relative;
  width: 260px;
  height: 60px;
  border-radius: 4px;
  background: url('https://contents-image.twayair.com/homepage/images/ico/ico_btn_pin.png')calc(100% - 7px) center no-repeat;
  border: 2px solid #b3b3b3;
  margin-right: 15px;
  cursor: pointer;
  font-size: 24px;
}
.selectBox2:after {
  content: '';
  display: block; 
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0; 
  right: 35px;
  background: #b3b3b3;
}
.selectBox2 .label {
  display: flex;
  align-items: center;
  width: 100%;
  height: inherit;
  border: 0 none;
  outline: 0 none;
  padding-left: 15px;
  background: transparent;
  cursor: pointer;
  color: #2e2e2e;
}
.selectBox2 .optionList {
  position: absolute; 
  left: 0;
  width: 100%;
  background: #fcfafa;
  color: #000;
  list-style-type: none;
  padding: 0;
  border-radius: 6px;
  overflow-y: scroll;
  max-height: 0;
  z-index: 99;
  transition: .3s ease-in;
  font-size: 15px;
  border-radius: 2px;
  border: 0.5 solid #d9dbe1;
}

.selectBox2.active .optionList {
  max-height: 375px;
}
.selectBox2 .opItem{
  /* border-bottom: 0.5px solid rgb(31, 31, 31); */
  border-radius: 2px;
  padding: 5px 15px 5px;
  transition: .1s;
  margin: 2px;
}
.selectBox2 .opItem:hover {
  background: rgb(205, 204, 225);
}
.selectBox2 .opItem:last-child {
  border-bottom: 0 none;
}
.selectBox2 .optionList::-webkit-scrollbar {width: 6px;}
.selectBox2 .optionList::-webkit-scrollbar-track {background: transparent; }
.selectBox2 .optionList::-webkit-scrollbar-thumb {background: #303030; border-radius: 45px;}
.selectBox2 .optionList::-webkit-scrollbar-thumb:hover {background: #303030;}

/* 아이콘 */
.icons{
  margin: 30px auto;
  height: 35vh;
}
.icons_inner{
  padding-top: 10px;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}
.icons_inner .box{
  width: 220px;
  flex-basis: 150px;
  flex-grow: 1;
  text-align: center;
  border-radius: 15px;
  background-color: rgba(255,255,255,.9);;
  cursor: pointer;
  transition: all 0.5s;
  overflow: hidden;
}
.icons_inner .box p{
  padding-top: 5px;
  font-size: 22px;
  color: #1e1e1e;
}
.icons_inner .box:hover{
  background-color: rgb(248, 50, 60);
}
.icons_inner .box:hover p{
  color: #fff;
}
.icons_inner .box:hover img{
  color: #fff;
}
.icons_inner .box:hover.box::after{
  content: '';
  width: 48px;
  height: 48px;
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.icons_inner .box img{
  margin-top: 40px;
}
.sec2{
  display: flex;
  justify-content: space-between;
}
.sec2 .notice{
  width: 50%;
}
.sec2 .notice h2{
  margin-bottom: 30px;
}
.sec2 .notice ul{
  padding-left: 5px;
}
.sec2 .notice ul li{
  border-top: 1px solid #d9dbe1;
  width: 100%;
  height: 50px;
  padding: 1rem 0;
}
.sec2 .notice ul li:last-child{
  border-bottom: 1px solid #d9dbe1;
}
.sec2 .notice ul li a{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  color: #2e2e2e;
}
.sec2 .notice ul li a .notice-date{
  font-weight: 400;
  color: #767676;
}
.sec2 .map{
  width: 40%;
}
.map_img{
  display: flex;
  align-items: center;
}
.map_img .img1{
  margin-left: 20px;
}
.map_img .img1 span{
  font-size: 18px;
  color: #2e2e2e;
  font-weight: 500;
}
#map {
  width: 400px;
  height: 300px;
}
/* v004 add 이동호 스와이퍼 */
.wrap{
  padding-top: 20px;
  width: 100%;
  background-color: #efeff6;
}
.swiperMent {
  margin: 30px auto;  
}
.mySwipper {
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  height: 390px;
}
.swiper_center {
  text-align: center;
}
.swiper_contents {
  margin: 10px;
}
.swiper_img {
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 1px 1px gray;
}
.swiper-pagination-bullet {
  background: rgb(0, 0, 0) !important;
}
.swiper-slide {
  left: -32.5px;
}
/* swiper navigation 추가 */
.swiper-btn-next{
  position: absolute;
  width: 39px;
  height: 39px;
  background: url('../img/btn_goods_next.png');
  top: 40%;
  right: 0;
  z-index: 99;
}
.swiper-btn-prev{
  position: absolute;
  width: 39px;
  height: 39px;
  background: url('../img/btn_goods_next.png');
  transform: rotate(180deg);
  top: 40%;
  left: 0;
  z-index: 99;
}
#formLowCost {
  cursor: pointer;
}
#lists {
  background-color: #efeff6;
}
#lists:hover {
  background: rgb(205, 204, 225);
}
/* swiper 내용 css */
.goods-img{
  width: 100%;
  height: 170px;
  overflow: hidden;
}
.goods-cont{
  position: relative;
  height: 100%;
  padding: 10px 0;
}
.goods-cont .bul{
  display: inline-block;
  padding: 6px 9px;
  font-style: normal;
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: 600;
  color: rgb(26, 26, 26);
  background-color: rgb(204, 204, 204);
  border-radius: 20px;
  transition: background-color 0s ease 0s, color 0.2s ease 0s;
}
.goods-loc{
  height: 30px;
  font-size: 19px;
  font-weight: 700;
  color: rgb(26, 26, 26);
  vertical-align: middle;
  overflow: hidden;
  line-height: 1.1;
}
.start{
  display: inline-block;
  width: 70px;
  vertical-align: middle;
  overflow: hidden;
}
.mid{
  display: inline-block;
    margin: 0px 5px;
    width: 25px;
    height: 11px;
    vertical-align: middle;
    background: url('../img/arr_location.png') 100% 50% no-repeat;
}
.end{
  display: inline-block;
  width: 70px;
  vertical-align: middle;
  overflow: hidden;
}
.goods-date{
  font-size: 12px;
  color: #767676;
}
.goods-price{
  font-size: 28px;
  font-weight: bold;
}

/* 마우스오버 애니메이션 */
ul.type1{
  padding-left: 3.5rem !important;
}
ul.type1 > li {
  position: relative; 
  display: inline-block;
  background-color: #fff; 
  width: 225px; 
  height: 350px;
}
ul.type1 > li:hover .bul{
  background-color: red;
  color: #fff;
}
ul.type1 > li:hover .goods-price{
  color: red;
}
ul.type1 > li > span {
  position: absolute; 
  background: red; 
  transition: all 0.5s;
}
ul.type1 > li > span:nth-child(1) {
  left: 0; 
  top: 0; 
  width: 0; 
  height: 4px;
}
ul.type1 > li > span:nth-child(2) {
  right: -2px; 
  top: 0; 
  width: 4px; 
  height: 0;
}
ul.type1 > li > span:nth-child(3) {
  right: 0; 
  bottom: 0; 
  width: 0; 
  height: 4px;
}
ul.type1 > li > span:nth-child(4) {
  left: 0; 
  bottom: 0; 
  width: 4px; 
  height: 0;
}
ul.type1 > li:hover > span:nth-child(1) {
  width: 100%;
}
ul.type1 > li:hover > span:nth-child(2) {
  height: 100%;
}
ul.type1 > li:hover > span:nth-child(3) {
  width: 100%;
}
ul.type1 > li:hover > span:nth-child(4) {
  height: 100%;
}
/* /마우스오버 애니메이션 */
/* /v004 add 이동호 스와이퍼 */
.notice-title{
  width: 80%;
}
/* 모바일 */
@media(min-width:370px) and (max-width:767px) {
  .icons{
    height: 70vh;
  }
  .round-way, .one-way {
    position: relative;
    width: 100%;
    height: 400px;
    flex-wrap: wrap;
    padding: 15px;
    padding-left: 25px;
    flex-direction: row;
    padding-top: 50px;
  }

  #searchbtn {
    width: auto;
    float:none;
    display: flex;
  }

  #txtDate{
    position: absolute;
    width: auto;
    float: none;
    display: flex;
  }

  #container2 {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .notice>ul {
    width: 350px;

  }
  .notice-title{
    font-size: 12px;
  }
  .map {
    margin-top: 60px;
  }

  .maph2 {
    min-width: 100%;
  }

  .img1 {
    min-width: 50px;
  }

  .swiperMent {
    margin-left: 120px;
  }

  .tabs .tabs-list li a {
    font-size: 17px;
    color: white;
    font-weight: 400;
}

}


/* 태블릿 */
@media(min-width: 768px) and (max-width:1023px){
  .icons{
    height: 50vh;
  }
  .round-way, .one-way {
    position: relative;
    width: 100%;
    height: 500px;
    flex-wrap: wrap;
    gap: 1em;
    padding: 15px;
    padding-left: 30px;
    flex-direction: column;
  }

  #searchbtn {
    width: auto;
    float:none;
    display: flex;
  }

  #txtDate{
    position: absolute;
    width: auto;
    float: none;
    /* display: flex; */
  }

  .selectBox2 {
    width: 90%;
  }

  #container2 {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .notice>ul {
    width: 600px;
    margin-left: 50px;

  }
  

  .notice>h2 {
    margin-left: 50px;
  }
  .map {
    margin-top: 60px;
    margin-left: 150px;
  }

  .maph2 {
    min-width: 90%;
  }

  .img1 {
    min-width: 60px;
  }
}
