@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: rgb(248, 50, 60);
  padding: 17px 50px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}
.btn span {
  position: relative; 
  z-index: 1;
}
.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 170%;
  background: #78c7d2;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}
.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

/***********
*** Tabs ***
***********/
.tabs {
  width: 100%;
  height: auto;
}
.tabs .tabs-list{
  display: flex;
  margin: 0;
}
.tabs .tabs-list > li {
  width: 33.3333%;
  padding: 10px 5px;
  margin-right: 5px;
  text-align: center;
  border-radius: 15px 15px 0 0;
  color: #333333;
  background-color: #65728a;
}
.tabs .tabs-list li:hover {
  cursor: pointer;
}
.tabs .tabs-list li a {
  font-size: 22px;
  color: white;
}
/* Tab Content */
.tabs .tab {
  display: none;
  width: 100%;
  height: auto;
  padding: 0 32px;
  color: #333;
}
.tabs .tab h3 {
  border-bottom: 3px solid #524fa1;
  letter-spacing: 1px;
  font-weight: normal;
  padding: 5px;
  margin-bottom: 12px;
}
.tabs .tab p {
  line-height: 24px;
  letter-spacing: 1px;
}
.round-way,.one-way{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  border-radius: 0 15px 15px 15px;
  background-color: #efeff6;
}
/* Tab on */
.on {
  display: block !important;
}
.tabs .tabs-list li.on {
  background-color: #efeff6 !important;
  color: black !important;
}
.on a {
  color: black !important;
  /* text-decoration: underline !important; */
}
.form-control{
  height: 55px;
  font-size: 16px;
  font-weight: 700;
  background-color: transparent;
  border: none;
}
.selectBox2 * {
   box-sizing: border-box; 
}
.selectBox2 {
  position: relative;
  width: 260px;
  height: 60px;
  border-radius: 4px;
  background: url('https://contents-image.twayair.com/homepage/images/ico/ico_btn_pin.png')calc(100% - 7px) center no-repeat;
  border: 2px solid #b3b3b3;
  margin-right: 15px;
  cursor: pointer;
  font-size: 24px;
}
.selectBox2:after {
  content: '';
  display: block; 
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0; 
  right: 35px;
  background: #b3b3b3;
}
.selectBox2 .label {
  display: flex;
  align-items: center;
  width: 100%;
  height: inherit;
  border: 0 none;
  outline: 0 none;
  padding-left: 15px;
  background: transparent;
  cursor: pointer;
  color: #2e2e2e;
}
.selectBox2 .optionList {
  position: absolute; 
  left: 0;
  width: 100%;
  background: #b3b3b3;
  color: #fff;
  list-style-type: none;
  padding: 0;
  border-radius: 6px;
  overflow-y: scroll;
  max-height: 0;
  z-index: 99;
  transition: .3s ease-in;
}

.selectBox2.active .optionList {
  max-height: 375px;
}
.selectBox2 .opItem{
  border-bottom: 1px dashed rgb(170, 72, 72);
  padding: 5px 15px 5px;
  transition: .1s;
}
.selectBox2 .opItem:hover {
  background: rgb(175, 93, 93);
}
.selectBox2 .opItem:last-child {
  border-bottom: 0 none;
}
.selectBox2 .optionList::-webkit-scrollbar {width: 6px;}
.selectBox2 .optionList::-webkit-scrollbar-track {background: transparent; }
.selectBox2 .optionList::-webkit-scrollbar-thumb {background: #303030; border-radius: 45px;}
.selectBox2 .optionList::-webkit-scrollbar-thumb:hover {background: #303030;}
.sec2{
  display: flex;
  justify-content: space-between;
}
.sec2 .notice{
  width: 50%;
}
.sec2 .notice h2{
  margin-bottom: 30px;
}
.sec2 .notice ul{
  padding-left: 5px;
}
.sec2 .notice ul li{
  border-top: 1px solid #d9dbe1;
  width: 100%;
  height: 50px;
  padding: 1rem 0;
}
.sec2 .notice ul li:last-child{
  border-bottom: 1px solid #d9dbe1;
}
.sec2 .notice ul li a{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: #2e2e2e;
}
.sec2 .notice ul li a .notice-date{
  font-weight: 400;
  color: #767676;
}
.sec2 .map{
  width: 40%;
}

/* v004 add 이동호 스와이퍼 */
.swiperMent {
  font-size: 28px;
  width: 900px;
  margin: 10px auto;
}
.mySwipper {
  max-width: 910px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  height: 330px;
}
.swiper_center {
  text-align: center;
}
.swiper_contents {
  margin: 10px;
}
.swiper_img {
  width: 200px;
  height: 200px;
  box-shadow: 1px 1px 1px 1px gray;
}
.swiper-pagination-bullet {
  background: rgb(0, 0, 0) !important;
}
.swiper-slide {
  left: -32.5px;
}
#formLowCost {
  cursor: pointer;
}

/* 마우스오버 애니메이션 */
ul.type1 li {
  position: relative; 
  display: inline-block; 
  padding: 5px;
  width: 225px; 
  height: 280px;
}

ul.type1 li span {
  position: absolute; 
  background: rgb(160, 190, 235); 
  transition: all 0.5s;
}
ul.type1 li span:nth-child(1) {
  left: 0; 
  top: 0; 
  width: 0; 
  height: 2px;
}
ul.type1 li span:nth-child(2) {
  right: -2px; 
  top: 0; 
  width: 2px; 
  height: 0;
}
ul.type1 li span:nth-child(3) {
  right: 0; 
  bottom: 0; 
  width: 0; 
  height: 2px;
}
ul.type1 li span:nth-child(4) {
  left: 0; 
  bottom: 0; 
  width: 2px; 
  height: 0;
}
ul.type1 li:hover span:nth-child(1) {
  width: 100%;
}
ul.type1 li:hover span:nth-child(2) {
  height: 100%;
}
ul.type1 li:hover span:nth-child(3) {
  width: 100%;
}
ul.type1 li:hover span:nth-child(4) {
  height: 100%;
}
/* /마우스오버 애니메이션 */

/* /v004 add 이동호 스와이퍼 */