/* a tag */
a {
    color: #000000;
    text-decoration: none;
}
a:hover {
    color: #000000;
}
/* /a tag */

/* min width */
.nListContainer, .listInfo, .mainContents {
    min-width: 700px;
    max-width: 1000px;
}
/* /min width */

/* 상하단 가로선 */
.nListContainer {
    margin: 10px auto;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    width: 80vw;
    min-height: 50vh;
}
/* /상하단 가로선 */

/* hr */
hr {
    margin: 0;
}
/* /hr */

/* 번호, 제목, 등록일 */
.listInfo {
    height: 50px;
    line-height: 50px;
    width: 80vw;
    background-color: #008cff23;
}
/* /번호, 제목, 등록일 */

/* 내용 */
.mainContents {
    margin-left: 0;
    height: 50px;
    line-height: 50px;
}
/* /내용 */

/* 페이징 */
.paginate {
    text-align: center;
}
/* /페이징 */

/* 작성 버튼 */
.divCreateBtn {
    margin: 0 auto;
    min-width: 700px;
    max-width: 1000px;
    text-align: right;
}
/* /작성 버튼 */

/* 검색 버튼 */
.serachBox {
    text-align: center;
    margin: 20px;
}
/* /검색 버튼 */

/* 검색 - 글 없음 */
.noneContents {
    text-align: center;
    margin: 30px auto;
}
/* /검색 - 글 없음 */