/* 상하단 가로선 */
.nCreateContainer {
    margin: 10px auto;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    width: 80vw;
    max-width: 1000px;
    min-width: 900px;
    min-height: 50vh;
}
/* /상하단 가로선 */

/* 제목 */
.labelTitle {
    margin: 10px;
    margin-left: 20px;
}

.inputText {
    width: 800px;
}
/* /제목 */

/* 내용 */
#divContent {
    margin: 10px auto;
    margin-left: 7%;
    margin-bottom: 3%;
    width: 800px;
    min-height: 500px;
    overflow: auto;
    max-height: 700px;
    border: 1px solid #000;
}

#content {
    display: none;
}
/* /내용 */

/* 하단 버튼 */
.divCreateBtns {
    margin: 10px;
    position: relative;
}

.nCreateBtns {
    position: absolute;
    right: 50px;
    bottom: 7px;
}
/* /하단 버튼 */

/* hr */
hr {
    margin: 0;
}
/* /hr */

/* 이미지 */
.divContent {
    display: block;
    margin: 10px auto;
    margin-bottom: 3%;
    min-width: 700px;
    max-width: 900px;
    min-height: 500px;
    border: 1px solid #000000;
    padding: 10px;
}

img {
    max-width: 90%;
    height: auto;
}
/* /이미지 */