* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
}

.infop {
    font-size: 30px;
    text-align: left;
    margin-left: 150px;
}
.con {
    width: 100%;
    height: 800px;
    margin-left: 150px
}

.chk_btn{
    border-radius: 0.5rem;
    /* text-align:center; */
    width: 120px;
    height: 60px;
    font-size: 1.125rem;
    background-color: #fff;
    border: 2px solid #b3b3b3;
    font-weight: 700;
    transition: all .5s;
    float: right;
    margin-right: 300px;
}
.chk_btn:hover{
    color: #fff;
    background-color: #b3b3b3;
}

.p_title {
    font-size: 15px;
    padding: 20px;
}

.title {
    font-size: 20px;
}

.line {
    border-bottom: 1px solid #000;
}

input {
    width: 200px;
    height: 60px;
    border-radius: 5px;
}
.seat_input{
    width: 60px;
    text-align: center;
}
.size {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

hr {
    margin: 0 auto;
    width: 1000px;
    text-align: center;
}

h1 {
    text-align: left;
    margin-left: 150px;
}

input, .size {
    background-color: #f7f7f7;
    border: 1px solid #939393;
}
