body{
    overflow-x: hidden;
}
ul{
    list-style: none;
    padding: 0;
}
h1{
    margin-top: 20px;
}
.on{
    font-weight: bold;
}
.on::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 6rem;
    height: 2px;
    background-color: #661e43;
}
/* 목록 */
.step{
    height: 36px;
    text-align: right;
}
.step h2{
    display: inline-block;
    height: 36px;
    font-size: 18px;
    color: #000;
    vertical-align: top;
}
.step > ul{
    display: inline-block;
    height: 36px;
    vertical-align: top;
}
.step > ul > li{
    position: relative;
    display: inline-block;
    height: 36px;
    margin-left: 7px;
    line-height: 18px;
}
.step li::before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 2px;
    margin: -5px 11px 0 0;
    vertical-align: middle;
    background: #8e8e8e;
}
.step li::marker{
    content: '';
}
/*  */
.map {
    position: absolute;
    left: 40%;
    top: 300px;
    box-sizing: border-box;
    width: 404px;
    height: 100%;
}
.map li {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: -4px;
    vertical-align: top;
}
.map li a {
    display: block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    text-indent: -2000px;
    transition: all 0.3s;
}
.map li a:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.map li .selectedEd{
    background-color: #661e43;
    pointer-events: none;
}
.map li .selectedEd:hover {
    cursor: default;
    transform: scale(1);
  }
.map li.stretch a, .map li.stretch>span, .map li.fast a,.map li.fast>span {
    border: 3px solid #518bbb;
}
.fast:nth-child(6n-3){
    margin-right: 60px;
}
.tripTab {
    position: relative;
}
.tripTab .slideCont {
    width: 100%;
    background: #ebebeb;
}
.tripTab .slideCont ul{
    display: flex;
}
.tripTab li.choice {
    background: #518bbb;
}
.tripTab li {
    height: 74px;
    text-align: center;
    font-size: 18px;
    background: #ebebeb;
}
.tripTab li.choice a {
    color: #fff;
}
.tripTab li a {
    position: relative;
    display: block;
    height: 74px;
    line-height: 74px;
    cursor: pointer;
    color: #000;
}

.selected {
    background-color: #6feaf6;
  }

.name_box{
    width: 30%;
    display: flex;
    justify-content: space-between;
}


